<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="/style.css"> <!--Need to put it directly because This tells the server to look for style.css directly in the public folder.-->
</head>
<body>
    <h1>Create a New Event</h1>
    <form action="/submit-event" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="publisher">Publisher:</label>
        <input type="text" id="publisher" name="publisher" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>

        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <button type="submit">Submit Event</button>
    </form>
</body>
</html>
